@import "vars";

.ttp-main-font {
  font-family: $main-font-family;
}

.ttp-main-brand {
  font-family: $brand-font-family;
}

.ttp-main-font-color {
  color: $main-font-color;
}

.ttp-brand-font-color {
  color: $brand-font-color;
}

.ttp-grey-font-color {
  color: $brand-grey;
}

.ttp-margin-05x {
  margin-bottom: $margin-base * 0.5;
}

.ttp-margin {
  margin-bottom: $margin-base;
}

.ttp-margin-2x {
  margin-bottom: $margin-base * 2;
}

.ttp-justify {
  text-align: justify;
}

.ttp-flex {
  display: flex;
}

.ttp-center-children {
  align-items: center;
  justify-content: center;
}

.ttp-full-screen {
  height: 100vh;
  width: 100vw;
}

.ttp-success {
  color: $brand-green;
}

.ttp-error {
  color: $brand-red;
}

.ttp-scroll {
  overflow: scroll;
}
