@import "vars";

@font-face {
  font-family: 'Qanelas Soft';
  src: url('/fonts/qanelassoft-extrabold.woff2') format('woff2'),
  url('/fonts/qanelassoft-extrabold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $brand-font-family;
  margin-top: $margin-base / 2;
  margin-bottom: $margin-base / 2;
}

h1 {
  font-size: $base-font-size * 3;

  @media (min-width: $break-point + 1) {
    font-size: $base-font-size * 4;
  }
}

h2 {
  font-size: $base-font-size * 3;
}

h3 {
  font-size: $base-font-size + 14;
}

h4 {
  font-size: $base-font-size + 4;
}

a {
  color: $brand-primary
}

p,
a,
li,
input,
button,
label,
span,
textarea {
  font-family: $main-font-family;
  font-size: $base-font-size;
  line-height: 25px;
  margin: 0;
}
