$brand-primary: #00afec;
$brand-secondary: #ffffff;
$brand-bg: #262626;
$main-font-color: #ffffff;
$brand-font-family: 'Qanelas Soft', 'Helvetica Neue', Arial, sans-serif;
$main-font-family: 'Helvetica Neue', Arial, sans-serif;
$margin-base: 20px;
$break-point: 768px;
