$brand-primary: #00afec;
$brand-secondary: #ffffff;
$brand-bg: #262626;
$brand-grey: #888888;
$main-font-color: #ffffff;
$brand-font-family: 'Qanelas Soft', 'Helvetica Neue', Arial, sans-serif;
$main-font-family: 'Helvetica Neue', Arial, sans-serif;
$margin-base: 20px;
$break-point: 768px;
$base-font-size: 16px;
$small-font-size: $base-font-size - 4;
