$brand-primary: #00afec;
$brand-secondary: #ffffff;
$brand-bg: #262626;
$brand-grey: #888888;
$brand-green: #7cf17c;
$brand-red: #f91e76;
$brand-font-color: $brand-primary;
$main-font-color: #ffffff;
$brand-font-family: 'Qanelas Soft', 'Helvetica Neue', Arial, sans-serif;
$main-font-family: 'Helvetica Neue', Arial, sans-serif;
$main-bg-transparent: rgba(255, 255, 255, 0.05);
$margin-base: 20px;
$break-point: 768px;
$base-font-size: 16px;
$small-font-size: $base-font-size - 4;
