$brand-primary: #00afec;
$brand-secondary: #ffffff;
$brand-bg: #262626;
$main-font-color: #ffffff;
$brand-font-family: 'Qanelas Soft', 'Helvetica Neue', Arial, sans-serif;
$main-font-family: 'Helvetica Neue', Arial, sans-serif;
$margin-base: 20px;
$break-point: 768px;

@font-face {
  font-family: 'Qanelas Soft';
  src: url('/fonts/qanelassoft-extrabold.woff2') format('woff2'),
  url('/fonts/qanelassoft-extrabold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
}

body {
  background: $brand-bg;
  color: $main-font-color;
  display: block;
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;

  @media (min-width: $break-point + 1) {
    display: flex;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $brand-font-family;
  margin-top: $margin-base / 2;
  margin-bottom: $margin-base / 2;
}

h1 {
  font-size: 50px;

  @media (min-width: $break-point + 1) {
    font-size: 70px;
  }
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

a {
  color: $brand-primary
}

p,
a,
li {
  font-family: $main-font-family;
  line-height: 25px;
  margin: 0;
}

.ttp-main-font {
  font-family: $main-font-family;
}

.ttp-flex {
  display: flex;
}

.ttp-center-children {
  align-items: center;
  justify-content: center;
}

.ttp-full-screen {
  height: 100vh;
  width: 100vw;
}

.cookie-popup {
  background: #333;
  display: none;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  .cookie-meta {
    align-items: center;
    display: flex;
    padding: 8px;
  }

  .cookie-text {
    font-size: 10px;
    flex: 1;
    line-height: 15px;
  }

  .cookie-button {
    background: $brand-primary;
    border-radius: 3px;
    border: none;
    color: $main-font-color;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 20px;
  }
}

nav {
  background-color: $brand-primary;
  flex: 1;
  flex-direction: column;
  padding: $margin-base;
  position: fixed;
  width: 100vw;

  @media (min-width: $break-point + 1) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;

    .burger-menu {
      display: none;
    }
  }

  .pages-container {
    @extend .ttp-center-children;

    display: none;
    max-height: 0;
    transition: max-height 300ms ease-in;
    overflow: hidden;

    &.prepare-open {
      display: block;
    }

    &.open {
      max-height: 200px;
    }

    @media (min-width: $break-point + 1) {
      display: flex;
      flex: 1;
      max-height: inherit;
    }
  }

  .pages {
    list-style: none;
    margin: 0;
    padding: 20px 0;

    @media (min-width: $break-point + 1) {
      padding: 0;
    }
  }

  .page {
    @extend h4;

    cursor: pointer;
    font-family: $brand-font-family;
    margin-bottom: $margin-base;
    opacity: 0.5;
    transition: opacity 300ms linear;

    &:hover {
      opacity: 0.8;
    }

    &.active {
      opacity: 1;
    }
  }

  .page-link {
    color: $main-font-color;
    font-family: $brand-font-family;
    text-decoration: none;
  }
}

.burger-menu {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus,
  &:active {
    .burger-menu-line {
      opacity: 0.5;
    }
  }

  .burger-menu-line {
    background: $main-font-color;
    display: block;
    height: 3px;
    margin-bottom: 5px;
    width: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.jagged-edge {
  background-image: url(/images/nav-arrow.png);
  background-repeat: repeat-y;
  background-size: 10px 25px;
  width: 10px;
}

.main-content {
  background: $brand-bg;
  height: calc(100% - 68px);
  overflow: scroll;

  @media (min-width: $break-point + 1) {
    height: 100%;
    flex: 3;
  }

  .jumbotron {
    @extend .ttp-flex;
    @extend .ttp-center-children;

    flex-direction: column;
    height: 100%;

    .logo {
      display: block;
      margin-bottom: 40px;
      width: 200px;

      @media (min-width: $break-point + 1) {
        margin-bottom: 80px;
        width: auto;
      }
    }
  }
}

.scroll-content {
  padding: 94px 30px 30px 30px;

  @media (min-width: $break-point + 1) {
    padding-top: 30px;
  }

  p {
    margin-bottom: 20px;
  }
}

footer {
  p,
  a {
    font-family: $brand-font-family;
  }

  a {
    color: $main-font-color;
  }

  &.desktop-footer {
    display: none;
  }

  &.mobile-footer {
    padding: 10px;
    position: fixed;
    bottom: 0;
  }

  @media (min-width: $break-point + 1) {
    &.mobile-footer {
      display: none;
    }

    &.desktop-footer {
      display: block;
    }
  }
}
