<nav>
  <button class="burger-menu">
    <span class="burger-menu-line"></span>
    <span class="burger-menu-line"></span>
    <span class="burger-menu-line"></span>
  </button>
  <div class="pages-container">
    <ol class="pages">
      <li class="page active">
        <a class="page-link" href="/" target="_self">Home</a>
      </li>
      <li class="page">
        <a class="page-link" href="/about" target="_self">What we do</a>
      </li>
      <li class="page">
        <a class="page-link" href="/clients" target="_self">Clients</a>
      </li>
      <li class="page">
        <a class="page-link" href="/contact" target="_self">Contact</a>
      </li>
    </ol>
  </div>
  <footer class="desktop-footer">
    <p><span class="ttp-main-font">©</span> 2019 Twenty Two Pixels LTD</p>
    <a href="/privacypolicy">Privacy Policy</a>
  </footer>
</nav>
<div class="jagged-edge"></div>
