<nav>
  <button class="burger-menu">
    <span class="burger-menu-line"></span>
    <span class="burger-menu-line"></span>
    <span class="burger-menu-line"></span>
  </button>
  <div class="pages-container">
    <ol class="pages">
      {{#each pages}}
        <li class="page {{#if isActive}}active{{/if}}">
          <a class="page-link" href="{{href}}" target="_self">{{text}}</a>
        </li>
      {{/each}}
    </ol>
  </div>
  <footer class="desktop-footer">
    <p><span class="ttp-main-font">©</span> 2019 Twenty Two Pixels LTD</p>
    <a href="/privacypolicy">Privacy Policy</a>
  </footer>
</nav>
<div class="jagged-edge"></div>
