{{#if isSuccess}}
  <p class="ttp-success">Your message was sent successfully. Someone will get back to you as soon as possible.</p>
{{/if}}
{{#if isError}}
  <p class="ttp-error">Whoops! Something went wrong. Please try again.</p>
{{/if}}
