<main class="main-content about">
  <div class="scroll-content">
    <h2 class="ttp-margin">What we do</h2>
    <p class="ttp-margin-2x">Here at 22px we take creating software seriously from design to development, sticking with
      great software craftsmanship and agile principles to create rich, engaging, maintainable applications.</p>
    <h3 class="ttp-margin">Services</h3>
    <div class="ttp-margin-2x about-services">
      <div class="about-service">
        <h4 class="ttp-margin-05x ttp-brand-font-color">Software Creation</h4>
        <p class="ttp-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eleifend tellus massa, non sagittis orci consectetur eget. Etiam nec leo a justo varius semper. Ut pretium dui turpis, feugiat tincidunt diam egestas a. Nulla non bibendum tellus. Donec ultricies blandit elit et rhoncus.</p>
      </div>
      <div class="about-service">
        <h4 class="ttp-margin-05x ttp-brand-font-color">Consultation</h4>
        <p class="ttp-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eleifend tellus massa, non sagittis orci consectetur eget. Etiam nec leo a justo varius semper. Ut pretium dui turpis, feugiat tincidunt diam egestas a. Nulla non bibendum tellus. Donec ultricies blandit elit et rhoncus.</p>
      </div>
      <div class="about-service">
        <h4 class="ttp-margin-05x ttp-brand-font-color">Training</h4>
        <p class="ttp-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eleifend tellus massa, non sagittis orci consectetur eget. Etiam nec leo a justo varius semper. Ut pretium dui turpis, feugiat tincidunt diam egestas a. Nulla non bibendum tellus. Donec ultricies blandit elit et rhoncus.</p>
      </div>
    </div>
    <h3 class="ttp-margin">Clients loving cleaner code</h3>
    <div class="ttp-scroll ttp-margin-2x client-list-scroller">
      <ul class="clients-list">
        <li class="about-client">
          <a href="https://www.acuris.com/"
             target="_blank">
            <img src="/images/acuris-logo.png"
                 alt="Acuris" class="client-logo"/>
          </a>
        </li>
        <li class="about-client">
          <a href="http://superrecognisersinternational.com/" target="_blank">
            <img
              src="/images/sri-logo.png" alt="SRI" class="client-logo"/>
          </a>
        </li>
        <li class="about-client">
          <a href="https://venturebanners.co.uk/" target="_blank">
            <img src="/images/venture-banners-logo.png" alt="Venture Display" class="client-logo"/>
          </a>
        </li>
        <li class="about-client">
          <a href="https://www.associationofsuperrecognisers.org/" target="_blank">
            <img src="/images/asr-logo.png" alt="ASR" class="client-logo"/>
          </a>
        </li>
        <li class="about-client">
          <a href="https://venturebanners.co.uk/vb-media/" target="_blank">
            <img src="/images/vb-media-logo.png" alt="VB Media" class="client-logo"/>
          </a>
        </li>
        <li class="about-client">
          <a href="http://swifthalf.co.uk/" target="_blank">
            <img src="/images/swift-half-logo.png" alt="Swift Half" class="client-logo"/>
          </a>
        </li>
      </ul>
    </div>
    <p class="ttp-margin">We always stick to the best practices in the industry and can adapt to fit your needs:</p>
    <ul>
      <li>React, Angular, Node JS, Latest EcmeScript</li>
      <li>Unit testing with TDD or a BDD approach</li>
      <li>Automated end to end testing</li>
      <li>Continuous deployment: Jenkins, VSTS</li>
      <li>Continuous Integration</li>
      <li>Cloud services: AWS, Azure</li>
      <li>Lamda, Azure Functions</li>
      <li>Containers</li>
      <li>Agile, Scrum, Kanban</li>
    </ul>
  </div>
</main>
