<main class="main-content about">
  <div class="scroll-content">
    <h2 class="ttp-margin">What we do</h2>
    <p class="ttp-margin-2x about-desc">Here at <span class="ttp-brand-font-color ttp-main-brand">22px</span> we take
      creating software seriously from design through development, sticking with great software craftsmanship and agile
      principles to create rich, engaging, maintainable applications.</p>
    <h3 class="ttp-margin">Services</h3>
    <div class="ttp-margin-2x about-services">
      <div class="about-service">
        <h4 class="ttp-ellipsis ttp-margin ttp-brand-font-color"><i class="fas fa-code ttp-icon-circle"></i>Software
          Creation</h4>
        <p class="ttp-justify">From greenfield projects, new features or bug fixing. <span
          class="ttp-brand-font-color ttp-main-brand">22px</span> has the skills to effectively deliver on your software
          objectives. Our engineers have over 10 years’ experience in the industry specialising in JavaScript
          technologies. We are well versed is test-driven development, deploying microservices to the cloud and
          following agile, scrum and Kanban methodologies.</p>
      </div>
      <div class="about-service">
        <h4 class="ttp-ellipsis ttp-margin ttp-brand-font-color"><i class="fas fa-users ttp-icon-circle"></i>Embedded
          Teams</h4>
        <p class="ttp-justify">Sometimes you just need to temporarily bolster your team. If you have a sudden demand for
          senior software craftspeople, we can embed our engineers in your team seamlessly and help you meet your
          business software goals. Whichever way you go from design to completion we are well versed in agile practices
          and continuous delivery and deployment.</p>
      </div>
      <div class="about-service">
        <h4 class="ttp-ellipsis ttp-margin ttp-brand-font-color"><i class="fas fa-comment-dots ttp-icon-circle"></i>Consultation
        </h4>
        <p class="ttp-justify">You might not always need a someone to write you great code. You might have a problem you
          do not know how to solve, or an idea you do not know how to bring to life. Unless you know your current
          software delivery capability you will not know how you can improve. We have over 15 years’ experience
          delivering software and can help you meet your software goals.</p>
      </div>
      <div class="about-service">
        <h4 class="ttp-ellipsis ttp-margin ttp-brand-font-color"><i class="fas fa-graduation-cap ttp-icon-circle"></i>Training
        </h4>
        <p class="ttp-justify">Whether you want to move your team over to Node JS, or simply upgrade your JS Skills. We
          can educate your staff and teach them the ways of the force. If you’ve never written a unit test and want to
          learn test-driven development. Or if performance is your thing and you want to know about the event loop,
          <span class="ttp-brand-font-color ttp-main-brand">22px</span> have the resources to train your team. </p>
      </div>
    </div>
    <h3 class="ttp-margin">Tech we love using</h3>
    <p class="ttp-margin">At <span class="ttp-brand-font-color ttp-main-brand">22px</span> we always try to stay ahead
      of the game. We are well versed in all the latest tooling, frameworks and libraries.</p>
    <ul class="tech-list ttp-margin">
      <li class="tech-item">
        <img class="tech-logo" src="/images/ts-logo.png" alt="TypeScript" width="100" height="100"/>
        <h6 class="tech-tooltip">TypeScript</h6>
      </li>
      <li class="tech-item">
        <img class="tech-logo" src="/images/es-next-logo.png" alt="ES Next" width="100" height="100"/>
        <h6 class="tech-tooltip">ES Next</h6>
      </li>
      <li class="tech-item">
        <img class="tech-logo" src="/images/react-logo.png" alt="React" width="100" height="100"/>
        <h6 class="tech-tooltip">React</h6>
      </li>
      <li class="tech-item">
        <img class="tech-logo" src="/images/redux-logo.png" alt="Redux" width="100" height="100"/>
        <h6 class="tech-tooltip">Redux</h6>
      </li>
      <li class="tech-item">
        <img class="tech-logo" src="/images/angular-logo.png" alt="Angular" width="100" height="100"/>
        <h6 class="tech-tooltip">Angular</h6>
      </li>
      <li class="tech-item">
        <img class="tech-logo" src="/images/node-logo.png" alt="Node JS" width="100" height="100"/>
        <h6 class="tech-tooltip">Node JS</h6>
      </li>
      <li class="tech-item">
        <img class="tech-logo" src="/images/express-logo.png" alt="Express" width="100" height="100"/>
        <h6 class="tech-tooltip">Express</h6>
      </li>
      <li class="tech-item">
        <img class="tech-logo" src="/images/aws-logo.png" alt="AWS" width="100" height="100"/>
        <h6 class="tech-tooltip">AWS</h6>
      </li>
      <li class="tech-item">
        <img class="tech-logo" src="/images/azure-logo.png" alt="Azure" width="100" height="100"/>
        <h6 class="tech-tooltip">Azure</h6>
      </li>
      <li class="tech-item">
        <img class="tech-logo" src="/images/aws-lambda-logo.png" alt="Lambda" width="100" height="100"/>
        <h6 class="tech-tooltip">Lambda</h6>
      </li>
      <li class="tech-item">
        <img class="tech-logo" src="/images/azure-functions-logo.png" alt="Azure Functions" width="100" height="100"/>
        <h6 class="tech-tooltip">Azure Functions</h6>
      </li>
      <li class="tech-item">
        <img class="tech-logo" src="/images/jenkins-logo.png" alt="Jenkins" width="100" height="100"/>
        <h6 class="tech-tooltip">Jenkins</h6>
      </li>
      <li class="tech-item">
        <img class="tech-logo" src="/images/vsts-logo.png" alt="VSTS" width="100" height="100"/>
        <h6 class="tech-tooltip">VSTS</h6>
      </li>
      <li class="tech-item">
        <img class="tech-logo" src="/images/docker-logo.png" alt="Docker" width="100" height="100"/>
        <h6 class="tech-tooltip">Docker</h6>
      </li>
      <li class="tech-item">
        <img class="tech-logo" src="/images/mongodb-logo.png" alt="Mongo DB" width="100" height="100"/>
        <h6 class="tech-tooltip">Mongo DB</h6>
      </li>
      <li class="tech-item">
        <img class="tech-logo" src="/images/dynamo-db-logo.png" alt="Dynamo DB" width="100" height="100"/>
        <h6 class="tech-tooltip">Dynamo DB</h6>
      </li>
      <li class="tech-item">
        <img class="tech-logo" src="/images/cosmos-db-logo.png" alt="Cosmos DB" width="100" height="100"/>
        <h6 class="tech-tooltip">Cosmos DB</h6>
      </li>
      <li class="tech-item">
        <img class="tech-logo" src="/images/couchdb-logo.png" alt="Couch DB" width="100" height="100"/>
        <h6 class="tech-tooltip">Couch DB</h6>
      </li>
      <li class="tech-item">
        <img class="tech-logo" src="/images/postgresql-logo.png" alt="PostgreSQL" width="100" height="100"/>
        <h6 class="tech-tooltip">PostgreSQL</h6>
      </li>
      <li class="tech-item">
        <img class="tech-logo" src="/images/selenium-logo.png" alt="Selenium" width="100" height="100"/>
        <h6 class="tech-tooltip">Selenium</h6>
      </li>
      <li class="tech-item">
        <img class="tech-logo" src="/images/protractor-logo.png" alt="Protractor" width="100" height="100"/>
        <h6 class="tech-tooltip">E2E Testing</h6>
      </li>
      <li class="tech-item">
        <img class="tech-logo" src="/images/agile-logo.png" alt="Agile" width="100" height="100"/>
        <h6 class="tech-tooltip">Agile<br>Scrum<br>Kanban</h6>
      </li>
      <li class="tech-item">
        <img class="tech-logo" src="/images/tdd-logo.png" alt="TSS" width="100" height="100"/>
        <h6 class="tech-tooltip">TDD</h6>
      </li>
      <li class="tech-item">
        <img class="tech-logo" src="/images/cd-ci-logo.png" alt="Continuous Integration" width="100" height="100"/>
        <h6 class="tech-tooltip">Continuous Integration<br>Continuous Deployment</h6>
      </li>
    </ul>
    <h3 class="ttp-margin">Clients loving cleaner code</h3>
    <div class="ttp-scroll ttp-margin-2x client-list-scroller">
      <ul class="clients-list">
        <li class="about-client">
          <a href="https://www.acuris.com/"
             target="_blank">
            <img src="/images/acuris-logo.png"
                 alt="Acuris" class="client-logo"/>
          </a>
        </li>
        <li class="about-client">
          <a href="http://superrecognisersinternational.com/" target="_blank">
            <img
              src="/images/sri-logo.png" alt="SRI" class="client-logo"/>
          </a>
        </li>
        <li class="about-client">
          <a href="https://venturebanners.co.uk/" target="_blank">
            <img src="/images/venture-banners-logo.png" alt="Venture Display" class="client-logo"/>
          </a>
        </li>
        <li class="about-client">
          <a href="https://www.associationofsuperrecognisers.org/" target="_blank">
            <img src="/images/asr-logo.png" alt="ASR" class="client-logo"/>
          </a>
        </li>
        <li class="about-client">
          <a href="https://venturebanners.co.uk/vb-media/" target="_blank">
            <img src="/images/vb-media-logo.png" alt="VB Media" class="client-logo"/>
          </a>
        </li>
        <li class="about-client">
          <a href="http://swifthalf.co.uk/" target="_blank">
            <img src="/images/swift-half-logo.png" alt="Swift Half" class="client-logo"/>
          </a>
        </li>
      </ul>
    </div>
  </div>
</main>
