<main class="main-content contact">
  <div class="scroll-content">
    <h2 class="ttp-margin">What we do</h2>
    <p class="ttp-margin">Here at 22px we take creating software seriously from design to development, sticking with great software craftsmanship and agile principles to create rich, engaging, maintainable applications.</p>
    <h3 class="ttp-margin">Services</h3>
    <div class="ttp-margin">
      <h4>Software Creation</h4>
      <h4>Consultation</h4>
      <h4>Training</h4>
    </div>
    <h3 class="ttp-margin">Who're we working with</h3>
    <div class="ttp-margin">
      <a>Acuris</a>
      <a>SRI</a>
      <a>Venture Display</a>
      <a>ASR</a>
      <a>VB Media</a>
      <a>Swift Half</a>
    </div>
    <p class="ttp-margin">We always stick to the best practices in the industry and can adapt to fit your needs:</p>
    <ul>
      <li>React, Angular, Node JS, Latest EcmeScript</li>
      <li>Unit testing with TDD or a BDD approach</li>
      <li>Automated end to end testing</li>
      <li>Continuous deployment: Jenkins, VSTS</li>
      <li>Continuous Integration</li>
      <li>Cloud services: AWS, Azure</li>
      <li>Lamda, Azure Functions</li>
      <li>Containers</li>
      <li>Agile, Scrum, Kanban</li>
    </ul>
  </div>
</main>
