<main class="main-content about">
  <div class="scroll-content">
    <h2 class="ttp-margin">What we do</h2>
    <p class="ttp-margin">Here at 22px we take creating software seriously from design to development, sticking with
      great software craftsmanship and agile principles to create rich, engaging, maintainable applications.</p>
    <h3 class="ttp-margin">Services</h3>
    <div class="ttp-margin">
      <h4>Software Creation</h4>
      <h4>Consultation</h4>
      <h4>Training</h4>
    </div>
    <h3 class="ttp-margin">Who're we working with</h3>
    <div class="ttp-margin clients-container">
      <a href="https://www.acuris.com/" target="_blank"><img src="/images/acuris-logo.png" alt="Acuris"/></a>
      <a href="http://superrecognisersinternational.com/" target="_blank"><img src="/images/sri-logo.png" alt="SRI"/></a>
      <a href="https://venturebanners.co.uk/" target="_blank"><img src="/images/venture-banners-logo.png" alt="Venture Display"/></a>
      <a href="https://www.associationofsuperrecognisers.org/" target="_blank"><img src="/images/asr-logo.png" alt="ASR"/></a>
      <a href="https://venturebanners.co.uk/vb-media/" target="_blank"><img src="/images/vb-media-logo.png" alt="VB Media"/></a>
      <a href="http://swifthalf.co.uk/" target="_blank"><img src="/images/swift-half-logo.png" alt="Swift Half"/></a>
    </div>
    <p class="ttp-margin">We always stick to the best practices in the industry and can adapt to fit your needs:</p>
    <ul>
      <li>React, Angular, Node JS, Latest EcmeScript</li>
      <li>Unit testing with TDD or a BDD approach</li>
      <li>Automated end to end testing</li>
      <li>Continuous deployment: Jenkins, VSTS</li>
      <li>Continuous Integration</li>
      <li>Cloud services: AWS, Azure</li>
      <li>Lamda, Azure Functions</li>
      <li>Containers</li>
      <li>Agile, Scrum, Kanban</li>
    </ul>
  </div>
</main>
