<main class="main-content contact">
  <div class="scroll-content">
    <h3 class="ttp-margin">Get In Touch</h3>
    {{> success_error}}
    <p class="ttp-margin">If you would like any further information about our services,<br>or just have any questions,
      please contact our head office.</p>
    <p class="ttp-address-block ttp-margin">20<span class="ttp-main-font">-</span>22 Wenlock Road<br>London N1 7GU<br>
      <span class="ttp-grey-font-color">tel: </span><a href="tel:08001076304">0800 107 6304</a>
      <span class="ttp-grey-font-color">mail: </span><a href="mailto:info@22px.io?Subject=Hello" target="_top">info<span
        class="ttp-main-font">@</span>22px.io</a>
    </p>

    <form class="ttp-form validate-form" method="post" role="form">
      {{> success_error}}

      <div class="ttp-wrap-input validate-input" data-validate="Name is required">
        <label for="name" class="ttp-label-input">Your Name</label>
        <input id="name" class="ttp-input" type="text" name="name" placeholder="Enter your name" required>
        <span class="ttp-focus-input"></span>
      </div>

      <div class="ttp-wrap-input validate-input" data-validate="Valid email is required: ex@abc.xyz">
        <label for="email" class="ttp-label-input">Email</label>
        <input id="email" class="ttp-input" type="text" name="email" placeholder="Enter your email addess" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
        <span class="ttp-focus-input"></span>
      </div>

      <div class="ttp-wrap-input validate-input" data-validate="Message is required">
        <label for="message" class="ttp-label-input">Message</label>
        <textarea id="message" class="ttp-input" name="message" placeholder="Your message here..." required></textarea>
        <span class="ttp-focus-input"></span>
      </div>

      <div class="ttp-container-contact-form-btn">
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
</main>
