<main class="main-content">
  <section class="jumbotron">
    <div>
      <img class="logo" src="/images/short-logo.png" width="300" alt="22px logo"/>
      <h1>We love<br>JavaScript</h1>
      <h4>React <span class="ttp-main-font">|</span> Angular <span class="ttp-main-font">|</span> Node</h4>
    </div>
  </section>
</main>
