<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>

  <meta name="theme-color" content="#ffffff">
  <meta name="description" content="A software engineering company specialising in JavaScript.">
  <meta name="keywords" content="HTML,CSS,XML,JavaScript,React,Angular,Node,Express,Redux,PhoneGap">
  <meta name="author" content="Ricky Clegg">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css" integrity="sha384-QokYePQSOwpBDuhlHOsX0ymF6R/vLk/UQVz3WHa6wygxI5oGTmDTv8wahFOSspdm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css" integrity="sha384-vd1e11sR28tEK9YANUtpIOdjGW14pS87bUBuOIoBILVWLFnS+MCX9T6MMf0VdPGq" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
<div class="cookie-popup">
  <div class="cookie-meta">
    <p class="cookie-text">By using this website, you agree to our use of cookies. We use cookies to provide you with a great experience and to help our website run effectively. <a href="/cookiepolicy">Cookie Policy</a></p>
    <button class="cookie-button">That's fine</button>
  </div>
</div>

{{> nav}}
{{{body}}}
{{> footer}}
<script src="/javascripts/main.js"></script>
{{> ga}}
</body>
</html>
