@import "../vars";

.about {
  .about-desc {
    @media (min-width: $break-point-large) {
      max-width: 70%;
    }
  }

  .about-services {
    display: flex;
    flex-direction: column;

    @media (min-width: $break-point-xlarge) {
      flex-direction: row;
    }

    .about-service {
      flex: 1 1 0;

      @media (min-width: $break-point-xlarge) {
        &:not(:last-child) {
          padding-right: $margin-base * 0.5;
        }

        &:not(:first-child) {
          padding-left: $margin-base * 0.5;
        }
      }
    }

    .ttp-icon-circle {
      top: 12px;
      margin-right: 10px;
    }
  }

  .client-list-scroller {
    padding: $margin-base $margin-base * 2;
    background: $main-bg-transparent;
    -webkit-overflow-scrolling: touch;
  }

  .clients-list {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    width: (160px * 6) + (($margin-base * 2) * 7);

    .about-client {
      display: inline-block;
      width: 160px;

      &:not(:last-child) {
        margin-right: $margin-base * 2;
      }

      a {
        display: inline-block;
      }

      .client-logo {
        width: 100%;
      }
    }
  }
}
