@import "../vars";

.about {
  .about-desc {
    @media (min-width: $break-point-large) {
      max-width: 70%;
    }
  }

  .about-services {
    display: flex;
    flex-direction: column;

    @media (min-width: $break-point-xlarge) {
      flex-direction: row;
    }

    .about-service {
      flex: 1 1 0;

      @media (min-width: $break-point-xlarge) {
        &:not(:last-child) {
          padding-right: $margin-base * 0.5;
        }

        &:not(:first-child) {
          padding-left: $margin-base * 0.5;
        }
      }
    }

    .ttp-icon-circle {
      top: 12px;
      margin-right: 10px;
    }
  }

  .tech-list {
    margin-top: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: $main-bg-transparent;
  }

  .tech-item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50px;
    height: 50px;
    padding: $margin-base * .5;

    &:hover,
    &:focus,
    &:active {
      .tech-tooltip {
        opacity: 1;
      }
    }

    .tech-logo {
      position: absolute;
      top: $margin-base * .5;
      left: $margin-base * .5;
      pointer-events: none;
    }

    .tech-tooltip {
      background: rgba(0, 0, 0, 0.7);
      padding: 5px 10px;
      transition: opacity 300ms ease-in;
      opacity: 0;
      pointer-events: none;
      z-index: 1;
    }
  }

  .client-list-scroller {
    padding: $margin-base $margin-base * 2;
    background: $main-bg-transparent;
    -webkit-overflow-scrolling: touch;
  }

  .clients-list {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    width: (160px * 6) + (($margin-base * 2) * 7);

    .about-client {
      display: inline-block;
      width: 160px;

      &:not(:last-child) {
        margin-right: $margin-base * 2;
      }

      a {
        display: inline-block;
      }

      .client-logo {
        width: 100%;
      }
    }
  }

  .about-banner-image-node {
    background-image: url(/images/about-photo-1.jpg);
    background-position-y: 20%;
  }

  .about-banner-image-glasses {
    background-image: url(/images/about-photo-2.jpg);
    background-position-y: 82%;
  }
}
