@import "../vars";

html,
body {
  height: 100%;
}

body {
  background: $brand-bg;
  color: $main-font-color;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;

  -webkit-font-smoothing: antialiased;

  @media (min-width: $break-point + 1) {
    display: flex;
  }
}
