@import "../vars";

footer {
  p,
  a {
    font-family: $brand-font-family;
    font-size: $small-font-size;
  }

  a {
    color: $main-font-color;
  }

  &.desktop-footer {
    display: none;
  }

  &.mobile-footer {
    padding: 10px;
    position: fixed;
    bottom: 0;
  }

  @media (min-width: $break-point-medium) {
    &.mobile-footer {
      display: none;
    }

    &.desktop-footer {
      display: block;
    }
  }
}
