@import "../vars";

.ttp-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 68px;
}

.ttp-form-title {
  display: block;
  width: 100%;
  padding-bottom: 44px;
}

.ttp-wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
  padding-bottom: 13px;
  margin-bottom: 65px;
}

.ttp-wrap-input {
  width: 100%;

  @media (min-width: $break-point + 1) {
    width: calc((100% - 30px) / 2);
  }
}

.ttp-label-input {
  font-family: $brand-font-family;
  font-size: $base-font-size - 2;
}

.ttp-input {
  display: block;
  width: 100%;
  background: transparent;
  font-family: $brand-font-family;
  line-height: 1.2;
}

.ttp-focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.ttp-focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  transition: all 0.4s;

  background: $brand-primary;
}

.placeholder {
  font-family: $main-font-family;
  font-size: $base-font-size - 2;
  color: $brand-grey;
}

input.ttp-input {
  color: $main-font-color;
  font-family: $main-font-family;
  height: 25px;
  outline: none;
  border: none;

  &::-webkit-input-placeholder {
    font-family: $main-font-family;
    font-size: $base-font-size - 2;
    color: $brand-grey;
  }
  &:-moz-placeholder {
    font-family: $main-font-family;
    font-size: $base-font-size - 2;
    color: $brand-grey;
  }
  &::-moz-placeholder {
    font-family: $main-font-family;
    font-size: $base-font-size - 2;
    color: $brand-grey;
  }
  &:-ms-input-placeholder {
    font-family: $main-font-family;
    font-size: $base-font-size - 2;
    color: $brand-grey;
  }

  &:focus {
    border-color: transparent !important;

    &::-webkit-input-placeholder { color:transparent; }
    &:-moz-placeholder { color:transparent; }
    &::-moz-placeholder { color:transparent; }
    &:-ms-input-placeholder { color:transparent; }
  }
}

textarea.ttp-input {
  color: $main-font-color;
  font-family: $main-font-family;
  min-height: 110px;
  padding-top: 9px;
  padding-bottom: 13px;
  outline: none;
  border: none;

  &::-webkit-input-placeholder {
    font-family: $main-font-family;
    font-size: $base-font-size - 2;
    color: $brand-grey;
  }
  &:-moz-placeholder {
    font-family: $main-font-family;
    font-size: $base-font-size - 2;
    color: $brand-grey;
  }
  &::-moz-placeholder {
    font-family: $main-font-family;
    font-size: $base-font-size - 2;
    color: $brand-grey;
  }
  &:-ms-input-placeholder {
    font-family: $main-font-family;
    font-size: $base-font-size - 2;
    color: $brand-grey;
  }

  &:focus {
    border-color: transparent !important;

    &::-webkit-input-placeholder { color:transparent; }
    &:-moz-placeholder { color:transparent; }
    &::-moz-placeholder { color:transparent; }
    &:-ms-input-placeholder { color:transparent; }
  }
}

.ttp-input:focus + .ttp-focus-input::before {
  width: 100%;
}

.has-val.ttp-input + .ttp-focus-input::before {
  width: 100%;
}

.ttp-container-contact-form-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: -25px;
}


.ttp-success,
.ttp-error {
  display: block;
  font-family: $brand-font-family;
  font-weight: bold;
  width: 100%;
}
